<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <springProfile name="dev">
        <logger name="io.github.mouhamethfadal.blogbackend" level="DEBUG"/>
    </springProfile>

    <springProfile name="prod">
        <logger name="io.github.mouhamethfadal.blogbackend" level="INFO"/>
    </springProfile>
</configuration>